:root {
    --fuente1: #28A43d;
    --fuente2: #959595;
    --bg1: #000000;
    --bg2: #212121;
    --luzbox: #bbbbbb;

    /*
    --fuente1: #ffffff;
    --fuente2: #558833;
    --bg1: #285A28;
    --bg2:#0F0F0F ; 
    --luzbox: #55ff33;
    */
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

* {
    text-align: center;
}

body {
    /*background: linear-gradient(#999, #222);*/
    background: linear-gradient(var(--bg1),
            var(--bg2) 50%);
}

a {
    text-decoration: none;
    color: var(--fuente1);
}


/*HEADER*/

header {

    height: 13vh;
    display: flex;
    border-bottom: 2px solid #aaa;
    justify-content: space-between;
    color: var(--fuente1);
    align-items: center;
}

.banner {
    font-size: 23px;
    margin-left: 20px;
    margin-top: 8px;
}

.spanllaves {
    line-height: 0;
    font-size: 60px;
    color: var(--fuente2);
}

.nav-link {
    display: flex;

    list-style: none;
    flex-wrap: wrap;
}

.nav-link li {
    justify-content: flex-end;
    margin: 3px 5px;
    padding: 7px;
}

.nav-link a {
    padding: 5%;
    transition: .2s;

}

.nav-link a:hover {
    transition: .2s;
    border-bottom: 1px solid var(--fuente2);
    text-shadow: var(--luzbox) 0px 25px;


}

/****MAIN****/

main {
    margin: 0 auto;
    color: var(--fuente2)
}

main>p {
    width: 50%;
    margin: 0 auto;
}

.game-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 500px;
}

.game-box {
    width: 250px;
    margin: 20px;
    border: 1px solid var(--fuente1);
    background: repeating-linear-gradient(57deg,
            var(--bg1),
            var(--bg2) 50%);
    transition: .2s;
    border-radius: 2%;
    box-shadow: var(--luzbox) 0px 8px 8px;
}

.game-box:hover {
    box-shadow: var(--luzbox) 0px 14px 14px;
    transform: scale(1.01);
    transition: .2s;
}

.game-img {
    margin-top: 10%;
}

.game-img img {
    border-radius: 2%;
}

.game-line {

    width: 70%;
    color: var(--luzBox);
    border-radius: 50%;
}

.game-desc {
    padding: 0 7% 7%;
}

code {
    color: var(--fuente1);
}

.rst3px {
    padding: 3px;
    margin: 3px;
    letter-spacing: 1px;
}

label {
    color: var(--fuente1);
}

.cambiarcolor {
    width: 70%;
    padding: 10px;
    margin: 0 auto;
    border-left: 1px solid var(--fuente1);
    border-right: 1px solid var(--fuente1);

}

.colorBox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.colorBox div {
    display: flex;
    flex-direction: column;
    width: 70px;
}

.prederbox code {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 10px;
}

.btncolor {
    margin: 15px auto;
    padding: 7px;
    width: max-content;
    border-radius: 25%;
}

.pickColor {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    padding: 7px;
    margin: auto;
    cursor: pointer;
}

.pickColor::-webkit-color-swatch {
    border: none;
    border-radius: 100%;




}

#fuente1 {
    background-color: var(--fuente1);
}

#fuente2 {
    background-color: var(--fuente2);
}

#bg1 {
    background-color: var(--bg1);
}

#bg2 {
    background-color: var(--bg2);
}

#luzbox {
    background-color: var(--luzbox);
}



/*FOOTER*/

footer {
    /*    background: linear-gradient(
        rgb(15, 15, 15) ,
        rgb(40, 90, 40)50% 
    );*/
    color: var(--fuente1);
    margin-top: 5px;

}



/* VENTANA DEL JUEGO ACTIVO */

.game-active {

    margin: 10px auto;
    border: 8px solid #ffff;
    width: 90%;
    height: max-content;
    min-height: 80vh;
    max-height: 100%;


}

/*****JUEGO******* **CARD JS BATTLE*/

.container-box {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    background-image: url(../games/cardjsbattle/fondo-portada.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: max-content;
    min-height: 80vh;
    max-height: 100%;
}

@media screen and (min-width:950px) {
    .container-box {
        background-size: contain;
        background-repeat: repeat;
    }
}

/*division 2/3 del contenedor principal*/
.container-flex {
    display: flex;
    flex-direction: column;
    color: black;
    width: 100%;
    height: 100%;
}

.container-flex button {
    border-radius: 25px;
}

/* boton entre etapas*/
#btn-portada-inicio {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 1vh;

}

.btn-portada-inicio {
    font-weight: 900;
    margin: 0 15px;
    border-radius: 25px;
    font-size: 20px;
    padding: 10px;
}

.boton-activado {
    background-color: #3a6;
    border: 2px solid #fff
}

/*etapa 1*/


.flex-1 {
    background-color: #523;
    color: #bbb;
    display: none;
    height: max-content;
    min-height: 80vh;
    max-height: 100%;

}

.flex1-items {
    margin: 0 auto;

}

.flex1-items-1 {
    padding: 5px;
    font-size: 20px;
    font-weight: 500;
}

.flex1-items-2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

/*SELECCION DE CARTA*/
.f1-i2-cartaimg {
    filter: blur(3px);
    width: 110px;
    margin: 3px 2px;
}

.f1-i2-cartaimg:hover {
    filter: blur(0);
}


.f1-i2-cartaimg img {
    width: 100%;

    border: 2px solid #cc922a;
}

.flex1-items-3 {
    font-weight: 700;
    font-size: 30px;
    padding: 5px;
}

.flex1-items-4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    width: 85%;
}


/*ETAPA1-IMAGEN DE CARTA SELECCIONADA*/
#f1-i4-imgcarta {
    padding: 5px;
}

#f1-i4-imgcarta img {
    width: 200px;
    border: 4px solid #cc922a;
}

/*ETAPA1-HABILIDADES DE CARTA SELECCIONADA*/
.div-skill {

    display: flex;
    flex-direction: column;
    border: 4px solid #bbb;
    padding: 15px 4px;
    border-radius: 15px;
}

.d-skill {
    margin: 0 auto;
    font-size: 18px;
    font-weight: 400;
    color: #bbb
}

#d-skillE2 code {
    font-size: 16px;
    color: #222
}

.flex1-items-5 {
    margin: 15px auto 3px;

}


/*BOTONES DE NAVEGACION*/
.flex1-items-5 button {
    margin: 0 8px;
    font-size: 20px;
    padding: 5px;
}

/*etapa 2*/
.flex-2 {
    background: linear-gradient(90deg,
            #523, #bbb, #523);
    display: none;
    height: max-content;
    min-height: 80vh;
    max-height: 100%;


}

.flex2-items {
    margin: 5px auto;
    font-size: 18px;
}

.flex2-items button {
    padding: 5px;
    height: 40px;
    min-width: 110px;
    

}

.flex2-items-3 {
    width: 0;
    height: 0;
    display: none;
}

.flex2-items-5 {
    display: flex;
    justify-content: space-evenly;

    width: 100%;


}

.flex2-items-5 div {
    display: flex;
    flex-direction: column;

}

.flex2-items-5 div img {
    width: 120px;
    border-radius: 15px;
    border: 2px solid #959595;
    box-shadow: #959595 0px 0px 40px;
}

.f2-i5-col1 {
    width: 100%;
    min-width: 150px;
}

.f2-i5-col2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: max-content;
    min-width: 80px;

}

.f2-i5-col2 span {
    font-size: 35px;
    font-weight: 700;

}

.center-btn {
    display: flex;
    justify-content: space-around;
    width: 100%;

}

.left {
    width: 100%;
}

.right {
    width: 100%;
}


.flex2-items-6 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
    align-items: center;

}

.box-btn-iniciar {
    width: 100%;
    padding-bottom: 8px;
}

.box-btn-iniciar button {
    height: 50px;
    border-radius: 50%;
    font-weight: 700;
    width: 150px;
}


.flex2-items-7 {

    display: flex;
    width: 100%;
    justify-content: space-evenly;
}


.f2-i7-col1 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.f2-i7-col2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;

}

.f2-i7-col2>div {
    width: 70px;
    min-width: 60px;
    max-width: 100px;
    height: 35px;
   font-weight: 800;
    margin: 5px;
    padding: 5px;
    font-size: 18px;
  
}

.f2-i7-col3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.globodato {
    width: 100%;
    min-width: 50px;
    max-width: 200px;
    height: 30px;
    background-color: #bbb;
    border: solid 4px #111;
    margin: 5px;
    padding: 5px;
    border-radius: 25px;
    font-weight: 900;
    font-size: 25px;
}

.vidadato {
    width: 100%;
    min-width: 70px;
    max-width: 200px;
    height: 40px;
    background-color: #bbb;
    border: solid 4px #111;
    margin: 5px;
    padding: 5px;
    border-radius: 25px;
    font-weight: 900;
    font-size: 40px;
}

.flex2-items-8  {
    height: 35px;
    width: 85%;
display: flex;
justify-content: space-evenly;
margin: 15px auto;
   
}






/*
.boxlocal {

}

.boxrival {
    
}
/*****JUEGO******* TIRO PENAL */

.battle-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    box-sizing: border-box;
}


.resultado {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-evenly;
    line-height: 0.2;
    height: 15%;
}

.tp-score {
    font-weight: 900;
    font-size: 25px;
    margin: 0 auto;

}


.estadistica-box {
    padding: 5px;
    border: 1px solid white;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    overflow-wrap: normal;
    justify-content: space-evenly;
    height: 15%;

}

.estadistica {
    width: 90%;
    letter-spacing: .5px;
    margin: 5px;
}

.estadistica p {
    margin: 2px;

}


.boxjuego {
    margin: 10px;
    display: flex;
    width: 100%;
    height: 70%;
    flex-wrap: wrap;


}

#arco {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5px auto;
    width: 90%;
    height: 100%;
    justify-items: center;
    /*
    min-width: 260px;
    min-height: 180px;
    max-width: 800px;
    max-height: 410px;
    */
}


.arco-lado {
    border: 2px solid yellow;
    width: 100%;
    font-size: 30px;
    color: #fff;
    background-size: cover;
    background-position: center;
    height: 15vh;
}

#arco-lado-1 {
    background-image: url(../games/tiro_penal/arco-vacio-1a.png);
}

#arco-lado-2 {
    background-image: url(../games/tiro_penal/arco-vacio-1b.png);
}

#arco-lado-3 {
    background-image: url(../games/tiro_penal/arco-vacio-1c.png);
}

#arco-lado-4 {
    background-image: url(../games/tiro_penal/arco-vacio-2a.png);
}

#arco-lado-5 {
    background-image: url(../games/tiro_penal/arco-vacio-2b.png);
}

#arco-lado-6 {
    background-image: url(../games/tiro_penal/arco-vacio-2c.png);
}

.ncelda {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: 900;
    color: #222;
    background: repeating-linear-gradient(10deg,
            white 2%,
            black 7%,
            white 11%,
            black 15%);
}

.btn-tiro-penal {
    margin-top: 15px;
    width: 100%;
    height: max-content;
}

.btn-style {
    background-color: #777;
    padding: 7px;
    font-weight: 500;
    border: 1px solid #ccc;
    margin: 0 10px;
    margin-bottom: 10px;
}

.btn-style-1 {
    background-color: #3a6;
}